:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --blue: #1B74E9;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header-nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}
.header-nav .logo {
  font-size: 32px;
  text-transform: lowercase;
  font-weight: bold;
  color: var(--blue);
}
.header-nav a:hover {
  color: #0077cc;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-content {
  flex: 1;
}

.footer {
  background-color: #f8f8f8;
  padding: 20px 40px;
  color: #333;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid #e7e7e7;
}

.footer-section {
  flex-basis: 20%;
  margin-bottom: 20px;
}

.footer-section h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  margin-bottom: 5px;
}

.footer-section a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}

.footer-section a:hover {
  color: #0077cc;
}



